.blog {
    background: #f0f0f0;
}
.blog-grid1 p,.blog-grid2 p {
    font-size: 16px;
    color: #777;
    letter-spacing: 1px;
    line-height: 26px;
}
.blog-grid1 h4,.blog-grid2 h4 {
    font-size: 22px;
    margin: 15px 0;
    color: #333;
    letter-spacing: 2px;
    font-weight: 600;
}
.blog-grid1 {
    border-top: 3px solid #dc3545;
     background: #fff;
}
.blog-grid2 {
    border-top: 3px solid #dc3545;
     background: #fff;
}
.more_blog a {
    color: #fff;
    font-size: 16px;
    background: #dc3545;
    padding: 10px 30px;
    letter-spacing: 2px;
    display: inline-block;
    box-shadow: 4px 4px #ccc;
    -webkit-box-shadow: 4px 4px #ccc;
    -o-box-shadow: 4px 4px #ccc;
    -moz-box-shadow: 4px 4px #ccc;
    -ms-box-shadow: 4px 4px #ccc;
}
.more_blog a:hover {
    background: #333;
}
a.blog {
	font-size: 16px;
	color: #dc3545;
	background: #fff;
	letter-spacing: 1px;
	font-weight: 600;
	text-align: right;
	display: block;
	margin-top: 10px;
	margin-right: 20px;
}
a.blog:hover {
	color: #333;
}
.blog-page{
	background: #fff;
}
.heading {
    text-align: center;
    color: #F1592A;
}