/*.wdt{*/
/*    width: 100%  !important;*/
/*    margin-left: 20px !important;*/
/*    margin-right: 30px !important;*/
/*}*/
/*.img*/
/*{*/
/*    height: 400px !important;*/
/*    width: 100% !important;*/
/*    padding-left: 50px !important;*/
/*    padding-right: 70px !important;*/

/*}*/
.slider-style {
    height:70% !important;
    width: 80% !important;
}
.DemoSlider {
    height: 450px;
}

